<a href="https://colab.research.google.com/github/RizkyMlana/Analytics-Data-Project/blob/main/Proyek_Analisis_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyek Analisis Data: Air
- **Nama:** Rizky Maulana Saputra
- **Email:** rizkyzky345@gmail.com
- **ID Dicoding:** MC268D5Y2179

In [2]:
import shutil
shutil.rmtree('air')

## Menentukan Pertanyaan Bisnis

- Bagaimana perbedaan tingkat polusi udara di setiap musim?
- Sejauh mana kecepatan angin memengaruhi tingkat polusi di tiga daerah ini?

## Import Semua Packages/Library yang Digunakan

In [3]:
import zipfile, os
import pandas as pd

## Data Wrangling

### Gathering Data

In [4]:
zip = zipfile.ZipFile('air.zip','r')
zip.extractall('air')
zip.close()

guanyuan_dir = 'air/AirDataset/Guanyuan.csv'
nongzhanguan_dir = 'air/AirDataset/Nongzhanguan.csv'
wanshouxigong_dir = 'air/AirDataset/Wanshouxigong.csv'

In [41]:
guan_df = pd.read_csv(guanyuan_dir)
nong_df = pd.read_csv(nongzhanguan_dir)
wans_df = pd.read_csv(wanshouxigong_dir)


def get_season(x):
  if x in [12,1,2]:
    return 'Winter'
  elif x in [3,4,5]:
    return 'Spring'
  elif x in [6,7,8]:
    return 'Summer'
  else:
    return 'Autumn'
guan_df['season'] = guan_df['month'].apply(get_season)
nong_df['season'] = nong_df['month'].apply(get_season)
wans_df['season'] = wans_df['month'].apply(get_season)

guan_df['date'] = pd.to_datetime(guan_df[['year', 'month', 'day', 'hour']])
nong_df['date'] = pd.to_datetime(nong_df[['year', 'month', 'day', 'hour']])
wans_df['date'] = pd.to_datetime(wans_df[['year', 'month', 'day', 'hour']])

In [42]:
guan_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,season,date
0,1,2013,3,1,0,4.0,4.0,14.0,20.0,300.0,69.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Guanyuan,Spring,2013-03-01 00:00:00
1,2,2013,3,1,1,4.0,4.0,13.0,17.0,300.0,72.0,-1.1,1023.2,-18.2,0.0,N,4.7,Guanyuan,Spring,2013-03-01 01:00:00
2,3,2013,3,1,2,3.0,3.0,10.0,19.0,300.0,69.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Guanyuan,Spring,2013-03-01 02:00:00
3,4,2013,3,1,3,3.0,6.0,7.0,24.0,400.0,62.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Guanyuan,Spring,2013-03-01 03:00:00
4,5,2013,3,1,4,3.0,6.0,5.0,14.0,400.0,71.0,-2.0,1025.2,-19.5,0.0,N,2.0,Guanyuan,Spring,2013-03-01 04:00:00

In [43]:
nong_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,season,date
0,1,2013,3,1,0,5.0,14.0,4.0,12.0,200.0,85.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Nongzhanguan,Spring,2013-03-01 00:00:00
1,2,2013,3,1,1,8.0,12.0,6.0,14.0,200.0,84.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Nongzhanguan,Spring,2013-03-01 01:00:00
2,3,2013,3,1,2,3.0,6.0,5.0,14.0,200.0,83.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Nongzhanguan,Spring,2013-03-01 02:00:00
3,4,2013,3,1,3,5.0,5.0,5.0,14.0,200.0,84.0,-1.4,1026.2,-25.5,0.0,N,4.9,Nongzhanguan,Spring,2013-03-01 03:00:00
4,5,2013,3,1,4,5.0,5.0,6.0,21.0,200.0,77.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Nongzhanguan,Spring,2013-03-01 04:00:00

In [44]:
wans_df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,season,date
0,1,2013,3,1,0,9.0,9.0,6.0,17.0,200.0,62.0,0.3,1021.9,-19.0,0.0,WNW,2.0,Wanshouxigong,Spring,2013-03-01 00:00:00
1,2,2013,3,1,1,11.0,11.0,7.0,14.0,200.0,66.0,-0.1,1022.4,-19.3,0.0,WNW,4.4,Wanshouxigong,Spring,2013-03-01 01:00:00
2,3,2013,3,1,2,8.0,8.0,NaN,16.0,200.0,59.0,-0.6,1022.6,-19.7,0.0,WNW,4.7,Wanshouxigong,Spring,2013-03-01 02:00:00
3,4,2013,3,1,3,8.0,8.0,3.0,16.0,NaN,NaN,-0.7,1023.5,-20.9,0.0,NW,2.6,Wanshouxigong,Spring,2013-03-01 03:00:00
4,5,2013,3,1,4,8.0,8.0,3.0,NaN,300.0,36.0,-0.9,1024.1,-21.7,0.0,WNW,2.5,Wanshouxigong,Spring,2013-03-01 04:00:00

**Insight:**
- xxx
- xxx

### Assessing Data

In [45]:
guan_df.info()
guan_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34448 non-null  float64
 6   PM10     34635 non-null  float64
 7   SO2      34590 non-null  float64
 8   NO2      34405 non-null  float64
 9   CO       33311 non-null  float64
 10  O3       33891 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34983 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
 18  season   35064 non-null  object
 19  date     35064 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(5), object(3)
memory usage: 5.4+ MB

No            0
year          0
month         0
day           0
hour          0
PM2.5       616
PM10        429
SO2         474
NO2         659
CO         1753
O3         1173
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
season        0
date          0
dtype: int64

In [46]:
nong_df.info()
nong_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34436 non-null  float64
 6   PM10     34624 non-null  float64
 7   SO2      34618 non-null  float64
 8   NO2      34372 non-null  float64
 9   CO       33858 non-null  float64
 10  O3       34558 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
 18  season   35064 non-null  object
 19  date     35064 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(5), object(3)
memory usage: 5.4+ MB

No            0
year          0
month         0
day           0
hour          0
PM2.5       628
PM10        440
SO2         446
NO2         692
CO         1206
O3          506
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           78
WSPM         14
station       0
season        0
date          0
dtype: int64

In [47]:
wans_df.info()
wans_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34368 non-null  float64
 6   PM10     34580 non-null  float64
 7   SO2      34395 non-null  float64
 8   NO2      34310 non-null  float64
 9   CO       33767 non-null  float64
 10  O3       33986 non-null  float64
 11  TEMP     35045 non-null  float64
 12  PRES     35045 non-null  float64
 13  DEWP     35045 non-null  float64
 14  RAIN     35045 non-null  float64
 15  wd       34985 non-null  object
 16  WSPM     35051 non-null  float64
 17  station  35064 non-null  object
 18  season   35064 non-null  object
 19  date     35064 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(11), int64(5), object(3)
memory usage: 5.4+ MB

No            0
year          0
month         0
day           0
hour          0
PM2.5       696
PM10        484
SO2         669
NO2         754
CO         1297
O3         1078
TEMP         19
PRES         19
DEWP         19
RAIN         19
wd           79
WSPM         13
station       0
season        0
date          0
dtype: int64

In [48]:
print('Guanyuan duplicated Data : ', guan_df.duplicated().sum())
print('Wanshouxigong duplicated data : ', wans_df.duplicated().sum())
print('Nongzhanguan duplicated data : ', nong_df.duplicated().sum())

Guanyuan duplicated Data :  0
Wanshouxigong duplicated data :  0
Nongzhanguan duplicated data :  0

In [49]:
guan_df.describe().T[['min','25%','75%','max']]

,min,25%,75%,max
No,1.0,8766.75,26298.25,35064.0
year,2013.0,2014.0,2016.0,2017.0
month,1.0,4.0,10.0,12.0
day,1.0,8.0,23.0,31.0
hour,0.0,5.75,17.25,23.0
PM2.5,2.0,23.0,115.0,680.0
PM10,2.0,40.0,149.0,999.0
SO2,1.0,3.0,22.0,293.0
NO2,2.0,31.0,78.0,270.0
CO,100.0,500.0,1600.0,10000.0
O3,0.2142,7.0,81.0,415.0
TEMP,-16.8,3.1,23.3,40.5
PRES,985.9,1003.3,1020.1,1042.0
DEWP,-35.3,-8.1,15.6,28.5
RAIN,0.0,0.0,0.0,72.5
WSPM,0.0,0.9,2.2,11.2
date,2013-03-01 00:00:00,2014-03-01 05:45:00,2016-02-29 17:15:00,2017-02-28 23:00:00

In [50]:
guan_check = ['PM2.5','PM10','SO2','NO2','CO','O3','TEMP','PRES','DEWP','RAIN','WSPM']

for i in guan_check :
  Q1 = guan_df[i].quantile(0.25)
  Q3 = guan_df[i].quantile(0.75)
  IQR = Q3 - Q1
  lower_bound = Q1 - 1.5 * IQR
  upper_bound = Q3 + 1.5 * IQR

  outliers = guan_df[(guan_df[i] < lower_bound) | (guan_df[i] > upper_bound)]
  print(f"Kolom {i}: {len(outliers)} outliers")

Kolom PM2.5: 1504 outliers
Kolom PM10: 1186 outliers
Kolom SO2: 3020 outliers
Kolom NO2: 664 outliers
Kolom CO: 2167 outliers
Kolom O3: 1343 outliers
Kolom TEMP: 0 outliers
Kolom PRES: 0 outliers
Kolom DEWP: 0 outliers
Kolom RAIN: 1380 outliers
Kolom WSPM: 1742 outliers

In [51]:
guan_df[['TEMP','PRES','DEWP']].skew()

TEMP   -0.094158
PRES    0.111500
DEWP   -0.213209
dtype: float64

In [52]:
nong_df.describe().T[['min','25%','75%','max']]

,min,25%,75%,max
No,1.0,8766.75,26298.25,35064.0
year,2013.0,2014.0,2016.0,2017.0
month,1.0,4.0,10.0,12.0
day,1.0,8.0,23.0,31.0
hour,0.0,5.75,17.25,23.0
PM2.5,2.0,22.0,116.0,844.0
PM10,2.0,38.0,149.0,995.0
SO2,0.5712,3.0,23.0,257.0
NO2,2.0,29.0,80.0,273.0
CO,100.0,500.0,1600.0,10000.0
O3,0.2142,10.0,84.0,390.0
TEMP,-16.8,3.1,23.5,41.1
PRES,987.1,1004.0,1020.9,1042.0
DEWP,-35.3,-8.8,15.0,28.8
RAIN,0.0,0.0,0.0,46.4
WSPM,0.0,1.0,2.4,10.5
date,2013-03-01 00:00:00,2014-03-01 05:45:00,2016-02-29 17:15:00,2017-02-28 23:00:00

In [53]:
nong_check = ['PM2.5','PM10','SO2','NO2','CO','O3','TEMP','PRES','DEWP','RAIN','WSPM']

for i in nong_check :
  Q1 = nong_df[i].quantile(0.25)
  Q3 = nong_df[i].quantile(0.75)
  IQR = Q3 - Q1
  lower_bound = Q1 - 1.5 * IQR
  upper_bound = Q3 + 1.5 * IQR

  outliers = nong_df[(nong_df[i] < lower_bound) | (nong_df[i] > upper_bound)]
  print(f"Kolom {i}: {len(outliers)} outliers")

Kolom PM2.5: 1765 outliers
Kolom PM10: 1379 outliers
Kolom SO2: 3019 outliers
Kolom NO2: 520 outliers
Kolom CO: 2461 outliers
Kolom O3: 1428 outliers
Kolom TEMP: 0 outliers
Kolom PRES: 0 outliers
Kolom DEWP: 0 outliers
Kolom RAIN: 1371 outliers
Kolom WSPM: 1609 outliers

In [54]:
nong_df[['TEMP','PRES','DEWP']].skew()

TEMP   -0.100866
PRES    0.099633
DEWP   -0.196896
dtype: float64

In [55]:
wans_df.describe().T[['min','25%','75%','max']]

,min,25%,75%,max
No,1.0,8766.75,26298.25,35064.0
year,2013.0,2014.0,2016.0,2017.0
month,1.0,4.0,10.0,12.0
day,1.0,8.0,23.0,31.0
hour,0.0,5.75,17.25,23.0
PM2.5,3.0,23.0,116.0,999.0
PM10,2.0,39.0,154.0,961.0
SO2,0.2856,3.0,21.0,411.0
NO2,2.0,28.0,77.0,251.0
CO,100.0,600.0,1700.0,9800.0
O3,0.2142,8.0,82.0,358.0
TEMP,-16.8,3.4,23.5,40.6
PRES,985.1,1002.8,1020.0,1042.0
DEWP,-35.3,-8.5,15.2,28.5
RAIN,0.0,0.0,0.0,46.4
WSPM,0.0,0.9,2.3,13.2
date,2013-03-01 00:00:00,2014-03-01 05:45:00,2016-02-29 17:15:00,2017-02-28 23:00:00

In [56]:
wans_check = ['PM2.5','PM10','SO2','NO2','CO','O3','TEMP','PRES','DEWP','RAIN','WSPM']

for i in wans_check :
  Q1 = wans_df[i].quantile(0.25)
  Q3 = wans_df[i].quantile(0.75)
  IQR = Q3 - Q1
  lower_bound = Q1 - 1.5 * IQR
  upper_bound = Q3 + 1.5 * IQR

  outliers = wans_df[(wans_df[i] < lower_bound) | (wans_df[i] > upper_bound)]
  print(f"Kolom {i}: {len(outliers)} outliers")

Kolom PM2.5: 1727 outliers
Kolom PM10: 1311 outliers
Kolom SO2: 3191 outliers
Kolom NO2: 582 outliers
Kolom CO: 2332 outliers
Kolom O3: 1286 outliers
Kolom TEMP: 0 outliers
Kolom PRES: 0 outliers
Kolom DEWP: 0 outliers
Kolom RAIN: 1361 outliers
Kolom WSPM: 1517 outliers

In [57]:
wans_df[['TEMP','PRES','DEWP']].skew()

TEMP   -0.106924
PRES    0.125095
DEWP   -0.201613
dtype: float64

**Insight:**
- xxx
- xxx

### Cleaning Data

In [58]:
guan_df[['PM2.5','PM10','SO2','NO2','CO','O3','RAIN','WSPM']] = guan_df[['PM2.5','PM10','SO2','NO2','CO','O3','RAIN','WSPM']].interpolate()
guan_df['TEMP'] = guan_df['TEMP'].fillna(guan_df['TEMP'].mean())
guan_df['PRES'] = guan_df['PRES'].fillna(guan_df['PRES'].mean())
guan_df['DEWP'] = guan_df['DEWP'].fillna(guan_df['DEWP'].mean())
guan_df['wd'] = guan_df['wd'].bfill()

In [59]:
nong_df[['PM2.5','PM10','SO2','NO2','CO','O3','RAIN','WSPM']] = nong_df[['PM2.5','PM10','SO2','NO2','CO','O3','RAIN','WSPM']].interpolate()
nong_df['TEMP'] = nong_df['TEMP'].fillna(nong_df['TEMP'].mean())
nong_df['PRES'] = nong_df['PRES'].fillna(nong_df['PRES'].mean())
nong_df['DEWP'] = nong_df['DEWP'].fillna(nong_df['DEWP'].mean())
nong_df['wd'] = nong_df['wd'].bfill()

In [60]:
wans_df[['PM2.5','PM10','SO2','NO2','CO','O3','RAIN','WSPM']] = nong_df[['PM2.5','PM10','SO2','NO2','CO','O3','RAIN','WSPM']].interpolate()
wans_df['TEMP'] = wans_df['TEMP'].fillna(wans_df['TEMP'].mean())
wans_df['PRES'] = wans_df['PRES'].fillna(wans_df['PRES'].mean())
wans_df['DEWP'] = wans_df['DEWP'].fillna(wans_df['DEWP'].mean())
wans_df['wd'] = wans_df['wd'].bfill()

In [61]:
guan_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
season     0
date       0
dtype: int64

In [62]:
nong_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
season     0
date       0
dtype: int64

In [63]:
wans_df.isna().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
season     0
date       0
dtype: int64

**Insight:**
- xxx
- xxx

## Exploratory Data Analysis (EDA)

### Explore ...

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2